[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-fixme = "*"
pre-commit = "*"
pytest = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[packages]
lxml = "*"
termcolor = "*"
